<div class="form-container">
  <h2 class="form-title">Update Category</h2>
  <form [formGroup]="categoryForm" (ngSubmit)="onSubmit()" class="category-form">
    <mat-form-field appearance="fill">
        <mat-label>Category ID</mat-label>
        <input matInput formControlName="id" />
        <button mat-icon-button matSuffix type="button" (click)="searchCategory()" aria-label="Search category id">
            <mat-icon>search</mat-icon>
        </button>
        <mat-error *ngIf="categoryForm.get('name')?.hasError('required')">
            ID is required
        </mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Category Name</mat-label>
      <input matInput formControlName="name" />
      <mat-error *ngIf="categoryForm.get('name')?.hasError('required')">
        Category Name is required
      </mat-error>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit" [disabled]="categoryForm.invalid">
      Submit
    </button>
  </form>
</div>
