.dialog-container {
  border: 3px solid #001f4d;
  border-radius: 24px;
  background-color: #f9faff;
  padding: 24px 32px;
  box-sizing: border-box;
  max-width: 480px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 16px;
  overflow-x: hidden;
}

.dialog-title {
  font-size: 1.8rem;
  font-weight: 600;
  margin: 0 0 16px 0;
  color: #001f4d;
  align-self: flex-start;
}

.dialog-content {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
  box-sizing: border-box;
  overflow-wrap: break-word;
}

.button-file-container {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 12px;
}

.file-name {
  font-style: italic;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 250px;
  color: #001f4d; /* Navy blue color */
}

mat-error {
  color: #f44336;
}

button.mat-raised-button {
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  box-sizing: border-box;
}

.snackbar-success {
  background-color: #4caf50; /* green */
  color: white;
}

.snackbar-error {
  background-color: #f44336; /* red */
  color: white;
}
