<div class="form-container">
  <h2 class="form-title">Add Product</h2>
<form [formGroup]="productForm" (ngSubmit)="onSubmit()" class="product-form">
  <mat-form-field appearance="fill">
    <mat-label>Product Name</mat-label>
    <input matInput formControlName="name" />
    <mat-error *ngIf="productForm.get('name')?.hasError('required')">
      Name is required
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Image URL (optional)</mat-label>
    <input matInput formControlName="imageUrl" />
    <mat-error *ngIf="productForm.get('imageUrl')?.hasError('pattern')">
      Please enter a valid URL starting with http or https
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Price</mat-label>
    <input matInput type="number" formControlName="price" />
    <mat-error *ngIf="productForm.get('price')?.hasError('required')">
      Price is required
    </mat-error>
    <mat-error *ngIf="productForm.get('price')?.hasError('min')">
      Price cannot be negative
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Category</mat-label>
  <mat-select formControlName="category">
  <mat-option *ngFor="let cat of categories" [value]="cat.id">
    {{ cat.name }}
  </mat-option>
</mat-select>
    <mat-error *ngIf="productForm.get('category')?.hasError('required')">
      Category is required
    </mat-error>
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit">
    Add Product
  </button>
</form>
</div>